// CUSTOM MIXINS
// --------------------------------------------------

.transform-origin(@origin) {
	-webkit-transform-origin: @origin;
	   -moz-transform-origin: @origin;
	    -ms-transform-origin: @origin;
	     -o-transform-origin: @origin;
	        transform-origin: @origin;
}

.translate(@x, @y) {
	-webkit-transform: translate(@x, @y);
	   -moz-transform: translate(@x, @y);
	    -ms-transform: translate(@x, @y);
	     -o-transform: translate(@x, @y);
	        transform: translate(@x, @y);
}

.translateY(@y) {
    -webkit-transform: translateY(@y);
       -moz-transform: translateY(@y);
        -ms-transform: translateY(@y);
         -o-transform: translateY(@y);
            transform: translateY(@y);
}

.translateX(@x) {
    -webkit-transform: translateX(@x);
       -moz-transform: translateX(@x);
        -ms-transform: translateX(@x);
         -o-transform: translateX(@x);
            transform: translateX(@x);
}

.vertically-center {
    position: absolute;
    top: 50%;
    .translateY(-50%);
}