// IMPORTS
// -------------------------
@import "variables.less"; // LESS variables defined here
@import "mixins.less";    // Custom mixins

@import "bootstrap/mixins.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";
@import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

@import "bootstrap/component-animations.less";
@import "bootstrap/forms.less";
@import "bootstrap/modals.less";

@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";


// GENERIC
// -------------------------
body, textarea, select, input, button {
	font: @font-size-base @font-family-sans-serif;
}

a {
	text-decoration: underline;
	
	&:hover {
		text-decoration: none;
	}
}

nav {
	ul, ol {
		list-style: none;
		padding-left: 0;
	}
}